@charset "ISO-8859-1";


a:hover
{
    border: 2px solid rgb(29, 193, 29);
 
}


.an
{
    text-decoration: none;
}

.fm
{
    background-color: rgb(223, 219, 219);
    font-family:sans-serif;
    font-size: large;
    text-align: center;
   
}